/* ----------------------- Estilos Página Error 404 ----------------------- */

.error {
    height: 100%;
    margin-top: 10rem;
    margin-bottom: 3rem;
  
    img {
      max-width: 100%;
    }
  }
  
  /* ----------------------- Fin Estilos Página Error 404 ----------------------- */