// ----------------- VARIABLES -----------------
$primary-color: #ff7f11;
$secondary-color: #FF1B1C;
$accent-color: #E4405F;
$facebook-color: #1877F2;
$whatsapp-color: #25D366;
$background-color: #FFFFFC;
$banner-background: #F2F2F2;
$footer-background: #000000;
$font-size-base: 15px;
$font-family-base: "Bangers", system-ui;
$box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.2);
$transition-base: 0.2s;
$card-height: 350px;

// ----------------- MIXINS -----------------
@mixin box-shadow($shadow: $box-shadow-base) {
  box-shadow: $shadow;
}

@mixin transition($time: $transition-base) {
  transition: transform $time;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}